services:
  mlflow:
    build:
      context: ./mlflow
    container_name: mlflow
    ports:
      - "5000:5000"
    volumes:
      - ./mldata:/app

  mysql:
    image: mysql:8.4
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_USER: palantir
      MYSQL_DATABASE: palantir
    ports:
      - "3306:3306"
    volumes:
      - ./mysql-data:/var/lib/mysql